<h1 class="pageheader">
   <% if getOptional %>
      <%= @user.vname %>'s forums
   <% else %>
      Listing forums
   <% end %>
</h1>
<br>
<div class="pagebox"><%= paginate @forums %></div>
<% @forums.each do |forum| %>
   <br>
   <p class="pagetext"><%= link_to forum.name, user_forum_path(forum.user.vname, forum) %></p>
   <p class="pagetext"><%= forum.description %></p>
   <% if !getOptional %>
      <p class="pagetext"><%= link_to forum.user.vname, user_path(forum.user) %></p>
   <% end %>
<% end %>
