<h1 class="pageheader">
   <% if getOptional %>
      <%= @user.vname %>'s forums
   <% else %>
      Listing forums
   <% end %>
</h1>
<br>
<div class="pagebox"><%= paginate @forums %></div>
<br>
<% @forums.each do |forum| %>
   <table>
      <tr>
         <td><%= link_to forum.name, user_forum_path(forum.user.vname, forum) %></td>
      </tr>
      <tr>
         <td><%= forum.description %></td>
      </tr>
      <% if !getOptional %>
         <tr>
            <td><%= forum.user.vname %></td>
         </tr>
      <% end %>
   </table>
   <br>
<% end %>
