<h1 class="pageheader">Forum list</h1>
<br>
<div class="pagebox"><%= paginate @forums %></div>
<br>
<% @forums.each do |forum| %>
   <div class="outer">
      <table>
         <tr>
            <td><%= link_to forum.name, user_forum_path(forum.user.vname, forum) %></td>
            <td><%= button_to 'Edit', edit_user_forum_path(forum.user, forum), method: :get %></td>
            <td><%= button_to 'Destroy', [forum.user, forum], method: :delete, data: { confirm: 'Are you sure?' } %></td>
         </tr>
      </table>
   </div>
   <div class="inner">
      <p>Owner: <%= link_to forum.user.vname, user_path(forum.user) %></p>
   </div>
   <div class="outer">
      <p class="limittext"><%= forum.description %></p>
   </div>
   <div class="outer"></div>
   <br>
<% end %>

