<p id="notice"><%= notice %></p>

<div class="inner">
<table>
  <tr>
  <td><h1 class="welcome"><%= @forum.name %></h1></td>
  <% if current_user && (current_user.id == @forum.user_id || current_user.admin? )%>
  <td><%= button_to 'Edit', edit_user_forum_path(@forum.user, @forum), method: :get %></td>
  <td><%= button_to 'Destroy', [@forum.user, @forum], method: :delete, data: { confirm: 'Are you sure?' } %></td>
  <% end %>
  </tr>
</table>
</div>
<p><%= @forum.description %></p>
<br>
<table>
  <tr>
    <th><!---Name--></th>
    <th><!--Forum--></th>
    <th></th>
    <th></th>
    <th></th>
  </tr>
<% @forum.tcontainers.each do |tcontainer| %>

<tr>
    <td><h1><%= link_to tcontainer.name, forum_tcontainer_path(@forum, tcontainer) %></h1></td>
    <% if current_user && (current_user.id == @forum.user_id || current_user.admin? )%>
    <td><%= button_to 'Edit', edit_forum_tcontainer_path(@forum, tcontainer), method: :get %></td>
    <td><%= button_to 'Destroy', [@forum, tcontainer], method: :delete, data: { confirm: 'Are you sure?' } %></td>
    <% end %>
  </tr>
  <% if !tcontainer.maintopics.empty? %>
  <tr>
    <td><div style="border: 1px solid;">
    <% tcontainer.maintopics.each do |maintopic| %>
       <p><%= link_to maintopic.topicname, tcontainer_maintopic_path(tcontainer, maintopic) %></p>
       <p><%= maintopic.description %></p>
    <% end %>
    </div></td>
  </tr>
  <% end %>
<% end %>
</table>

<br />
<% if current_user %>
<%= link_to 'New Tcontainer', new_forum_tcontainer_path(@forum) %>
<% end %>
<br>
<br>
<%= link_to 'Back', forums_path %>
