<p id="notice"><%= notice %></p>

<p>
  <b>First name:</b>
  <%= @user.first_name %>
</p>

<p>
  <b>Last name:</b>
  <%= @user.last_name %>
</p>

<p>
  <b>Email:</b>
  <%= @user.email %>
</p>

<p>
  <b>Vname:</b>
  <%= @user.vname %>
</p>

<p>
  <b>Joined on:</b>
  <%= @user.joined_on %>
</p>

<p>Users owned pets</p>
<table border="1">
   <tr>
      <th>Pet_id</th>
      <th>Pet_name</th>
      <th>Species_name</th>
      <th>Description</th>
   </tr>
<% @user.petowners.each do |petowner| %>
   <% if petowner.user_id == @user.id %>
      <tr>
         <td><%= petowner.pet_id %></td>
         <td><%= petowner.pet_name %></td>
         <td><%= petowner.pet.species_name %></td>
         <td><%= petowner.pet.description %></td>
      </tr>
   <% end %>
<% end %>
</table>

<div>
<h2 class ="colorstyleh2">Comments</h2>
<% @user.comments.each do |comment| %>
   <table>
      <div class="entry">
         <hr />
         <tr>
            <td>By: <%= comment.user_id %></td>
            <% if !current_user.nil? %> <%#&& current_user.admin? %>
            <td>
               <%= button_to "Delete", [@user, comment], :confirm => "Are you sure?", :method => :delete %></td>
            <% end %>
         </tr>
         <tr>
            <td><%= comment.message %></td>
         </tr>
      </div>
   </table>
<% end %>
</div>



<% if !current_user.nil? %>
<div>
<h3 class="colorstyleh3">Add Comment</h3>
   <%= form_for [@user, Comment.new] do |form| %>
      <table>
         <tr>
            <td><%= form.hidden_field :user_id, :value => current_user.vname %></td>
         </tr>
         <tr>
            <td><%= form.label :message %></td>
         </tr>
         <tr>
            <td><%= form.text_area :message, :placeholder => "Enter some text" %></td>
         </tr>
         <tr>
            <td><%= form.submit %></td>
         </tr>
      </table>
   <% end %>
</div>
<% end %>

<%= link_to 'Edit', edit_user_path(@user) %> |
<%= link_to 'Back', users_path %>
