<p id="notice"><%= notice %></p>

<div>
<table>
   <% if !@user.admin? %>
      ~<%= @user.vname %>
   <% else %>
      $<%= @user.vname %>
   <% end %>
   <% if !current_user.nil? && @user.id == current_user.id %>
   <tr>
      <td><b>First name:</b> <%= @user.first_name %></td>
      <td><b>Last name:</b> <%= @user.last_name %></td>
   </tr>
   <tr>
      <td><b>Email:</b> <%= @user.email %></td>
   </tr>
   <%= render 'userinfo', object: @user %>
   <tr>
      <td><b>Money:</b> <%= @pouch.amount %></td>
   </tr>
   <% else %>
   <tr>
      <td><b>Name:</b> <%= @user.first_name %></td>
   </tr>
   <%= render 'userinfo', object: @user %>
   <% end %>
</table>

<% if @count > 0 %>
<div>
<br>
<h2 class ="colorstyleh2">Comments</h2>
<% @user.comments.each do |comment| %>
   <table>
      <div class="entry">
         <hr />
         <tr>
            <% @user2 = User.find_by_vname(comment.author) %>
            <td>By: <% if @user2.admin? %>
                       $<%= comment.author %>
                    <% else %>
                       ~<%= comment.author %>
                    <% end %>
            </td>
            <% if current_user && (current_user.id == @user.id || current_user.admin?) %>
            <td>
               <%= button_to "Delete", [@user, comment], :confirm => "Are you sure?", :method => :delete %></td>
            <td></td>
            <% end %>
         </tr>
         <tr>
            <td><pre><%= comment.message %></pre></td>
         </tr>
      </div>
   </table>
<% end %>
</div>
<% end %>


<% if !current_user.nil? %>
<div>
<br>
<h3 class="colorstyleh3">Add Comment</h3>
   <%= form_for [@user, Comment.new] do |form| %>
      <table>
         <tr>
            <td><%= form.label :message %></td>
         </tr>
         <tr>
            <td><%= form.text_area :message, :placeholder => "Enter some text" %></td>
         </tr>
         <tr>
            <td><%= form.submit %></td>
         </tr>
      </table>
   <% end %>
</div>
<% end %>
<% if current_user && current_user.id == @user.id %>
<%= link_to 'Edit', edit_user_path(@user) %> |
<% end %>
