<%= form_for(@pet_item) do |f| %>
  <% if @pet_item.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@pet_item.errors.count, "error") %> prohibited this pet_item from being saved:</h2>

      <ul>
      <% @pet_item.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :id %><br />
    <%= f.text_field :id %>
  </div>
  <div class="field">
    <%= f.label :petown_id %><br />
    <%= f.text_field :petown_id %>
  </div>
  <div class="field">
    <%= f.label :item_id %><br />
    <%= f.text_field :item_id %>
  </div>
  <div class="field">
    <%= f.label :reusable %><br />
    <%= f.text_field :reusable %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
