<h1>Listing maintenancemodes</h1>

<table>
  <tr>
    <th>Name</th>
    <th>Created on</th>
    <th>Maintenance on</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @maintenancemodes.each do |maintenancemode| %>
  <tr>
    <td><%= maintenancemode.name %></td>
    <td><%= maintenancemode.created_on %></td>
    <td><%= maintenancemode.maintenance_on %></td>
    <td><%= link_to 'Show', maintenancemode %></td>
    <td><%= link_to 'Edit', edit_maintenancemode_path(maintenancemode) %></td>
    <td><%= link_to 'Destroy', maintenancemode, method: :delete, data: { confirm: 'Are you sure?' } %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Maintenancemode', new_maintenancemode_path %>
