<p id="notice"><%= notice %></p>

<p><h1 class="forumheader"><%= @tcontainer.name %></h1></p>
<br>
<% if !@tcontainer.maintopics.empty? %>
<div style="border: 1px solid;">
<table>
<% @tcontainer.maintopics.each do |maintopic| %>
   <tr>
       <%# if topic.seperator_id == seperator.id %>
          <td><%= link_to maintopic.topicname, tcontainer_maintopic_path(@tcontainer, maintopic) %></td>
    <% if current_user && (current_user.id == maintopic.user_id || current_user.admin? )%>
    <td><%= button_to 'Edit', edit_tcontainer_maintopic_path(@tcontainer, maintopic), method: :get %></td>
    <td><%= button_to 'Destroy', [@tcontainer, maintopic], method: :delete, data: { confirm: 'Are you sure?' } %></td>
    <% end %>
    </tr>
    <tr>
        <td>By: <%= maintopic.user.vname %></td>
       <%# end %>
   </tr>
<% end %>
</table>
    <br>
<% end %>
<% if current_user %>
    <p><%= link_to "New Topic", new_tcontainer_maintopic_path(@tcontainer) %></p>
    <% end %>
<% if !@tcontainer.maintopics.empty? %>
</div>
<br>
<% end %>
<%= link_to 'Back', user_forum_path(@tcontainer.forum.user, @tcontainer.forum) %>
