<h1>Listing gchapters</h1>

<table>
  <tr>
    <th>Title</th>
    <th>Created on</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @gchapters.each do |gchapter| %>
  <tr>
    <td><%= gchapter.title %></td>
    <td><%= gchapter.created_on %></td>
    <td><%= link_to 'Show', gchapter %></td>
    <td><%= link_to 'Edit', edit_gchapter_path(gchapter) %></td>
    <td><%= link_to 'Destroy', gchapter, method: :delete, data: { confirm: 'Are you sure?' } %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Gchapter', new_gchapter_path %>
