<%= form_for(@sessionkey) do |f| %>
  <% if @sessionkey.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@sessionkey.errors.count, "error") %> prohibited this sessionkey from being saved:</h2>

      <ul>
      <% @sessionkey.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :remember_token %><br />
    <%= f.text_field :remember_token %>
  </div>
  <div class="field">
    <%= f.label :expiretime %><br />
    <%= f.datetime_select :expiretime %>
  </div>
  <div class="field">
    <%= f.label :user_id %><br />
    <%= f.number_field :user_id %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
