<%= form_for(@narrative) do |f| %>
  <% if @narrative.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@narrative.errors.count, "error") %> prohibited this narrative from being saved:</h2>

      <ul>
      <% @narrative.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :id %><br />
    <%= f.text_field :id %>
  </div>
  <div class="field">
    <%= f.label :sub_id %><br />
    <%= f.text_field :sub_id %>
  </div>
  <div class="field">
    <%= f.label :user_id %><br />
    <%= f.text_field :user_id %>
  </div>
  <div class="field">
    <%= f.label :story %><br />
    <%= f.text_field :story %>
  </div>
  <div class="field">
    <%= f.label :created_on %><br />
    <%= f.date_select :created_on %>
  </div>
  <div class="field">
    <%= f.label :maintenance %><br />
    <%= f.text_field :maintenance %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
