<p id="notice"><%= notice %></p>

<p>
  <b>Subtopic:</b>
  <%= @narrative.subtopic_id %>
</p>

<p>
  <b>User:</b>
  <%= @narrative.user_id %>
</p>

<p>
  <b>Story:</b>
  <%= @narrative.story %>
</p>


<%= link_to 'Edit', edit_narrative_path(@narrative) %> |
<%= link_to 'Back', narratives_path %>
