<h1 class="pageheader">Artworks to be reviewed</h1>
<br>
<div class="pagebox"><%= paginate @artworks %></div>
<% @artworks.each do |artwork| %>
<!--Do not touch this code till later-->
   <br>
   <!--Pet box should go from here -->
   <div class="inner"><%= link_to artwork.title, subfolder_artwork_path(artwork.subfolder, artwork) %></div>
   <div class="inner"><%= button_to 'Approve', artworks_review1_path(:artwork_id=>artwork.id), method: :post %></div>
   <div class="inner"><%= button_to 'Deny', artworks_review2_path(:artwork_id=>artwork.id), method: :post %></div>
   <br>
   <p class="inner"><%= image_tag artwork.art_url(:thumb).to_s %></p>
   <div class="outer"></div>
   <div class="inner">
      <table>
         <tr>
            <td>Subfolder: <%= artwork.subfolder.name %></td>
         </tr>
         <tr>
            <td>Creator: <%= link_to artwork.user.vname, user_path(artwork.user.vname) %></td>
         </tr>
         <tr>
            <td>Created: <%= distance_of_time_in_words_to_now artwork.created_on %> ago</td>
         </tr>
      </table>
   </div>
   <p><%= artwork.description %></p>
   <!-- to here-->
<% end %>
