<p id="notice"><%= notice %></p>

<p><%= @artwork.title %></p>
<p><%= image_tag(@artwork.art_url.to_s, class: "imagebox") %></p>
<p><%= @artwork.description %></p>
<p>Created on: <%= @artwork.created_on %></p>
<p>Artist: <%= @artwork.user.vname %></p>
<p>Subfolder: <%= @artwork.subfolder.name %></p>
<br>
<p><%= link_to 'Back', mainfolder_subfolder_path(@subfolder.mainfolder, @artwork.subfolder) %></p>
