<h1 class="pageheader">Fight list</h1>

<table>
   <tr>
      <th>Monster id</th>
      <th>Petowner id</th>
      <th>Round</th>
      <th>Pet Damage</th>
      <th>Monster Damage</th>
      <th>Pet Miss</th>
      <th>Monster Miss</th>
      <th>Monster HP</th>
      <th>Battle Over</th>
      <th></th>
   </tr>
<% @fights.each do |fight| %>
   <tr>
      <td><%= fight.pet_id %></td>
      <td><%= fight.petowner_id %></td>
      <td><%= fight.round %></td>
      <td><%= fight.pdamage %></td>
      <td><%= fight.mdamage %></td>
      <td><%= fight.p_miss %></td>
      <td><%= fight.m_miss %></td>
      <td><%= fight.mhp %></td>
      <td><%= fight.battle_done %></td>
      <td><%= button_to 'Destroy', [fight.petowner, fight], method: :delete, data: { confirm: 'Are you sure?' } %></td>
   </tr>
<% end %>
</table>
