<p id="notice"><%= notice %></p>

<h1 class="pageheader">The Battle</h1>
<br>
<p class="battleround">Round: <%= @fight.round %></p>
<br>
<div class="pagetext">
   <div class="petcontainer"><%= render "type", object: "Pet" %></div>
   <div class="monstercontainer"><%= render "type", object: "Monster" %></div>
</div>
<br>
<div class="pagetext"><%= getFight %></div>
