<p id="notice"><%= notice %></p>

<h1 class="pageheader">The Battle</h1>
<div class="inner">
   <div class="inner">
      <p><b><%= @fight.petowner.pet_name %></b></p>
      <%= image_tag @fight.petowner.pet.image_url(:thumb).to_s %>
   </div>

   <div class="inner">
      <table>
         <tr>
            <td>Level: <%= @fight.petowner.level %></td>
            <td>EXP: <%= @fight.petowner.exp %></td>
         </tr>
         <tr>
            <td>HP: <%= @fight.petowner.hp %>/<%= @fight.petowner.hp_max %></td>
         </tr>
         <tr>
            <td>ATK: <%= @fight.petowner.atk %></td>
         </tr>
         <tr>
            <td>DEF: <%= @fight.petowner.def %></td>
         </tr>
         <tr>
            <td>SPD: <%= @fight.petowner.spd %></td>
         </tr>
      </table>
   </div>
   <div class="outer">
      <% if !@fight.mdamage.nil? && @fight.mdamage > 0 %>
         <p>Monster dealt <%= @fight.pdamage %> to your pet</p>
      <% elsif !@fight.mdamage.nil? && @fight.mdamage == 0 %>
         <p>The monster missed hitting your pet</p>
      <% end %>
   </div>
</div>

<div class="inner">
   <div class="inner">
      <p><b><%= @fight.pet.species_name %></b></p>
      <%= image_tag @fight.pet.image_url(:thumb).to_s %>
   </div>

   <div class="inner">
      <table>
         <tr>
            <td>Level: <%= @fight.pet.level %></td>
         </tr>
         <tr>
            <td>HP: <%= @fight.mhp %>/<%= @fight.pet.hp %></td>
         </tr>
         <tr>
            <td>ATK: <%= @fight.pet.atk %></td>
         </tr>
         <tr>
            <td>DEF: <%= @fight.pet.def %></td>
         </tr>
         <tr>
            <td>SPD: <%= @fight.pet.spd %></td>
         </tr>
      </table>
   </div>

   <div class="outer">
      <% if !@fight.pdamage.nil? && @fight.pdamage > 0 %>
         <p>Pet dealt <%= @fight.pdamage %> to the monster</p>
      <% elsif !@fight.pdamage.nil? && @fight.pdamage == 0 %>
         <p>The pet missed hitting the monster</p>
      <% end %>
   </div>
</div>

<% if !@fight.battle_done %>
   <div>
      <%= button_to 'Runner', petowner_fight_path(@fight.petowner.id, @fight.id), method: :put %>
   </div>
<% else %>
   <br>
   <br>
   <div>
      <p>Congratulations you won _____ coins!</p>
   </div>
<% end %>
