<p id="notice"><%= notice %></p>

<p>
  <b>Petowner:</b>
  <%= @fight.petowner_id %>
</p>

<p>
  <b>Monster:</b>
  <%= @fight.monster_id %>
</p>


<%= link_to 'Edit', edit_fight_path(@fight) %> |
<%= link_to 'Back', fights_path %>
