<h1>Listing mainfolders</h1>

<table>
  <tr>
    <th>Name</th>
    <th>Description</th>
    <th>Created on</th>
    <th>User</th>
    <th>Maintenance</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @mainfolders.each do |mainfolder| %>
  <tr>
    <td><%= mainfolder.name %></td>
    <td><%= mainfolder.description %></td>
    <td><%= mainfolder.created_on %></td>
    <td><%= mainfolder.user_id %></td>
    <td><%= mainfolder.maintenance %></td>
    <td><%= link_to 'Show', mainfolder %></td>
    <td><%= link_to 'Edit', edit_mainfolder_path(mainfolder) %></td>
    <td><%= link_to 'Destroy', mainfolder, method: :delete, data: { confirm: 'Are you sure?' } %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Mainfolder', new_mainfolder_path %>
