<h1 class="pageheader">Galleries list</h1>
<br>
<div class="pagebox"><%= paginate @mainfolders %></div>
<br>
<% @mainfolders.each do |mainfolder| %>
   <div class="outer">
      <table>
         <tr>
            <td><%= link_to mainfolder.name, user_mainfolder_path(mainfolder.user.vname, mainfolder) %></td>
            <td><%= button_to 'Edit', edit_user_mainfolder_path(mainfolder.user, mainfolder), method: :get %></td>
            <td><%= button_to 'Destroy', [mainfolder.user, mainfolder], method: :delete, data: { confirm: 'Are you sure?' } %></td>
         </tr>
      </table>
   </div>
   <div class="inner">
      <p>Owner: <%= link_to mainfolder.user.vname, user_path(mainfolder.user) %></p>
   </div>
   <div class="outer">
      <p class="limittext"><%= mainfolder.description %></p>
      <p>Created on: <%= mainfolder.created_on %></p>
   </div>
   <br>
<% end %>
