<h1 class="pageheader">Listing comments</h1>
<br>
<div class="pagebox"><%= paginate @comments %></div>
<% @comments.each do |comment| %>
   <br>
   <p>To user: <%= comment.to_user.vname %></p>
   <div class="inner">From user: <%= comment.from_user.vname %></div>
   <div class="inner"><%= button_to 'Destroy', [comment.to_user, comment], method: :delete, data: { confirm: 'Are you sure?' } %></div>
   <p>Created: <%= distance_of_time_in_words_to_now comment.created_on %> ago</p>
   <p><%= comment.message %></p>
<% end %>
