<p id="notice"><%= notice %></p>

<p>
  <b>Main:</b>
  <%= @subtopic.maintopic_id %>
</p>

<p>
  <b>User:</b>
  <%= @subtopic.user_id %>
</p>

<p>
  <b>Topicname:</b>
  <%= @subtopic.topicname %>
</p>

<p>
  <b>Description:</b>
  <%= @subtopic.description %>
</p>


<% @subtopic.narratives.each do |narrative| %>
  <tr>
    <td><%= link_to narrative.story %> <%#, subtopic_naratives_path(@subtopic) %></td>
    <td><%#= link_to 'Edit', edit_maintopic_subtopic_path(subtopic.maintopic) %></td>
    <td><%#= button_to 'Destroy', subtopic, method: :delete, data: { confirm: 'Are you sure?' } %></td>
  </tr>
  <tr>
    <td>By: <%= narrative.user.vname %><%#= subtopic.description %></td>
  </tr>
<% end %>


<%= link_to 'New Narrative', new_subtopic_narrative_path(@subtopic, :user_id => current_user) %> |
<%= link_to 'Edit', edit_maintopic_subtopic_path(@maintopic) %> |
<%= link_to 'Back', maintopic_subtopics_path %>
