<p id="notice"><%= notice %></p>
<div>
   <table>
      <tr>
         <td><%= @subtopic.topicname %></td>
      </tr>
      <tr>
         <td>by: <%= @subtopic.user.vname %></td>
      </tr>
      <tr>
         <td><pre><%= @subtopic.description %></pre></td>
      </tr>
   </table>
<div>
<table>
<% @subtopic.narratives.each do |narrative| %>
  <tr>
     <td>re: <%= narrative.subtopic.topicname %></td>
  </tr>
  <tr>
    <td>by: <%= narrative.user.vname %><%#= subtopic.description %></td>
  </tr>
  <tr>
    <td><pre><%= narrative.story %></pre></td>
    <td><%#= link_to 'Edit', edit_maintopic_subtopic_path(subtopic.maintopic) %></td>
    <td><%#= button_to 'Destroy', subtopic, method: :delete, data: { confirm: 'Are you sure?' } %></td>
  </tr>
<% end %>
</table>

<%= link_to 'New Narrative', new_subtopic_narrative_path(@subtopic, :user_id => current_user) %> |
<%= link_to 'Edit', edit_maintopic_subtopic_path(@maintopic) %> |
<%= link_to 'Back', maintopic_subtopics_path %>
