<p id="notice"><%= notice %></p>
<h1 class="forumheader"><%= @subtopic.topicname %></h1>
<br>
<div>
   <table>
      <tr>
         <td><%= @subtopic.topicname %></td>
      </tr>
      <tr>
         <td>by: <%= @subtopic.user.vname %></td>
      </tr>
      <tr>
         <td><pre class="narrative_pre"><%= @subtopic.description %></pre></td>
      </tr>
   </table>
</div>
<br>
<table>
<% @subtopic.narratives.each do |narrative| %>
  <tr>
     <td>re: <%= narrative.subtopic.topicname %></td>
  </tr>
  <tr>
    <td>by: <%= narrative.user.vname %><%#= subtopic.description %></td>
  </tr>
  <tr>
    <td><div><pre class="narrative_pre"><%= narrative.story %></pre></div></td>
    <% if current_user && (current_user.id == narrative.user_id || current_user.admin?)%>
    <td><%= link_to 'Edit', edit_subtopic_narrative_path(@subtopic, narrative) %></td>
    <td><%= button_to 'Destroy', [@subtopic, narrative], method: :delete, data: { confirm: 'Are you sure?' } %></td>
    <% end %>
  </tr>
<% end %>
</table>
<br>
<% if current_user %>
   <p><%= link_to 'New Narrative', new_subtopic_narrative_path(@subtopic) %></p>
   <br>
<% end %>
<p><%= link_to 'Back', tcontainer_maintopic_path(@maintopic.tcontainer_id, @maintopic) %></p>
