<% @pets.each_with_index do |pet, index| %>
   <!--Starter pets -->
   <!--All Pets-->
   <div class="petcontainer">
      <div class="outer">
         <p><%= link_to pet.species_name, pet %>
            <!--Prevents a visting user from seeing the radio button of a pet if not logged in -->
            <% if !current_user.nil? %> <!---Difference when current_user is nil-->
<!--Need to check if the mons flag is set and not a new user-->
               <% if getPetType == "monster" %>
                  <% if @mypets.count > 0 %>
                     <%= radio_button_tag :pet_id, pet.id %>
                  <% end %>
               <% elsif getPetType == "pet" %>
                  <%= radio_button_tag :pet_id, pet.id %>
               <% end %>
            <% end %>
         </p>
      </div>
      <div class="inner">
         <p><%= image_tag pet.image_url(:thumb).to_s %></p>
      </div>
      <div class="inner">
         <table>
            <tr>
               <td><pre>Level: <%= pet.level %> </pre></td>
            </tr>
            <tr>
               <td>HP: <%= pet.hp %></td>
            </tr>
            <tr>
               <td>ATK: <%= pet.atk %></td>
            </tr>
            <tr>
               <td>DEF: <%= pet.def %></td>
            </tr>
            <tr>
               <td>SPD: <%= pet.spd %></td>
            </tr>
            <% if getPetType == "pet" %>
               <tr>
                  <td>Cost: <%= pet.cost %></td>
               </tr>
            <% end %>
         </table>
      </div>
      <div class="outer">
         <p class="limittext"><%= pet.description %></p>
         <p>Creator: <%= link_to findUser(pet.user_id), user_path(findUser(pet.user_id)) %></p>
      </div>
   </div>
   <% if ((index + 1) % 3) == 0 %>         
      <div class="outer"></div>
      <br>
   <% end %>
<% end %>
