<h1>Listing pets</h1>

<table>
  <tr>
    <th>Species name</th>
    <th>Description</th>
    <th>Created on</th>
    <th>Level</th>
    <th>Health</th>
    <th>Attack</th>
    <th>Defense</th>
    <th>Speed</th>
    <th>Cost</th>
    <th></th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @pets.each do |pet| %>
  <tr>
    <td><%= pet.species_name %></td>
    <td><%= pet.description %></td>
    <td><%= pet.created_on %></td>
    <td><%= pet.level %></td>
    <td><%= pet.hp %></td>
    <td><%= pet.atk %></td>
    <td><%= pet.def %></td>
    <td><%= pet.spd %></td>
    <td><%= pet.cost %></td>
    <td><%#= link_to 'Adopt', new_user_petowner_path(:pet_id=>pet.id) %>
    <% if !current_user.nil? %>
    <%= link_to 'Adopt', new_user_petowner_path(current_user, :pet_id =>pet.id) %>
    <% end %>
    </td>
    <td><%#= link_to 'Adopt', new_user_petowner_path(:pet_id=>pet.id) %>
    <% if !current_user.nil? %>
       <% @current_user.petowners.each do |petowner| %>
          <%= link_to 'Fights', new_petowner_fight_path(petowner, :monster_id =>pet.id) %>
       <% end %>
    <% end %>
    </td>
    <td><%= link_to 'Show', pet %></td>
    <td><%= link_to 'Edit', edit_pet_path(pet) %></td>
    <td><%= link_to 'Destroy', pet, method: :delete, data: { confirm: 'Are you sure?' } %></td>     
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Pet', new_pet_path %>
<%#= link_to 'Adopt', new_user_petowner_path(@user) %>
