<h1>Pet list</h1>
<!--Checks to see if any pets are available -->
<% if @count > 0 %>
   <!--Checks if the current user is signed in -->
   <% if !current_user.nil? %>
      <%= form_tag(new_user_petowner_path(current_user), method: "get") do %>
         <%= render 'petinfo' %>
         <%= submit_tag("Adopt Selected Pet") %>
      <% end %>
   <% else %>
      <%= render 'petinfo' %>
   <% end %>
<% end %>

<!--Prevents a visting user from creating a pet if not logged in -->
<% if !current_user.nil? %>
   <p><%= link_to 'New Pet', new_pet_path %></p>
<% end %>
