<h1>Listing pets</h1>

<table>
  <tr>
    <th>Species name</th>
    <th>Description</th>
    <th>Created on</th>
    <th></th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @pets.each do |pet| %>
  <tr>
    <td><%= pet.species_name %></td>
    <td><%= pet.description %></td>
    <td><%= pet.created_on %></td>
    <td><%#= link_to 'Adopt', new_user_petowner_path(:pet_id=>pet.id) %><%= link_to 'Adopt', new_user_petowner_path(:user_id => 1, :pet_id =>pet.id) %></td>
    <td><%= link_to 'Show', pet %></td>
    <td><%= link_to 'Edit', edit_pet_path(pet) %></td>
    <td><%= link_to 'Destroy', pet, method: :delete, data: { confirm: 'Are you sure?' } %></td>     
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Pet', new_pet_path %>
<%#= link_to 'Adopt', new_user_petowner_path(@user) %>
