<h1>Monsters</h1>
<!--Checks to see if any pets are available -->
<% if @count > 0 %>
   <!--Checks if the current user is signed in -->
   <% if !current_user.nil? %>
      <!--Need someway to put in a petowner to be chosen to fight -->
      <% form_for [current_user, @petowner] do |f| %>
      <!-- Need a selection to be used to pull in a single petowner to fight a monster --->
      <%#= select_tag "Pets", options_from_collection_for_select(@petowner, "id", "pet name") %>
      <% end %>
      <% if !@petowner.nil? %>
         <%= form_tag(new_petowner_fight_path(@petowner), method: "get") do %>
            <%= render 'monsterinfo' %>
            <div class="outer"></div>
            <%= submit_tag("Fight Selected Monster") %>
         <% end %>
      <% else %>
         <%= render 'monsterinfo' %>
      <% end %>
   <% else %>
      <%= render 'monsterinfo' %>
   <% end %>
<% end %>
