<p id="notice"><%= notice %></p>

<p>
  <b>Species name:</b>
  <%= @pet.species_name %>
</p>

<p>
  <b>Description:</b>
  <%= @pet.description %>
</p>

<p>
  <b>Created on:</b>
  <%= @pet.created_on %>
</p>

<%= link_to 'Edit', edit_pet_path(@pet) %> |
<%= link_to 'Back', pets_path %>
