<p id="notice"><%= notice %></p>

<p>
  <b>Id:</b>
  <%= @pet.id %>
</p>

<p>
  <b>Species name:</b>
  <%= @pet.species_name %>
</p>

<p>
  <b>Description:</b>
  <%= @pet.description %>
</p>

<p>
  <b>Image:</b>
  <%= @pet.image %>
</p>

<p>
  <b>Level:</b>
  <%= @pet.level %>
</p>

<p>
  <b>Hp:</b>
  <%= @pet.hp %>
</p>

<p>
  <b>Def:</b>
  <%= @pet.def %>
</p>

<p>
  <b>Atk:</b>
  <%= @pet.atk %>
</p>

<p>
  <b>Spd:</b>
  <%= @pet.spd %>
</p>

<p>
  <b>Cost:</b>
  <%= @pet.cost %>
</p>

<p>
  <b>P m r:</b>
  <%= @pet.p_m_r %>
</p>

<p>
  <b>Created by:</b>
  <%= @pet.created_by %>
</p>

<p>
  <b>Created on:</b>
  <%= @pet.created_on %>
</p>


<%= link_to 'Edit', edit_pet_path(@pet) %> |
<%= link_to 'Back', pets_path %>
