<div class="backgroundbox">
   <%= image_tag("../../../abie2.png", class: "forestbackground") %>
</div>
<div class="logo">
   DuelingPets.net
</div>
<div class="profilebar">
   <%= render 'layouts/profile' %>
</div>
<br>
<div class="navigation">
   <%= render 'layouts/navigationbar' %>
</div>
<% if current_user %>
   <% if currentTime > expires %>
      sign_out
      redirect_to root_path
   <% else %>
      <br>
      <div><%= current_user.vname %>'s session expires in: <%= distance_of_time_in_words_to_now expires %></div>
   <% end %>
<% end %>
