<!DOCTYPE html>
<html>
   <head>
      <title>Dueling Pets Unlimited</title>
      <%= stylesheet_link_tag    "application", :media => "all" %>
      <%= javascript_include_tag "application" %>
      <%= csrf_meta_tags %>
   </head>
   <body class="pagecontent">
      <!---This builds the header for each of the pages-->
      <div class="headerbox">
         <%= render 'layouts/header' %>
      </div>
      <br>
      <!---This builds the individual pages--->
      <%= yield %>
   </body>
</html>
