<%= form_for(@item) do |f| %>
  <% if @item.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@item.errors.count, "error") %> prohibited this item from being saved:</h2>

      <ul>
      <% @item.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :id %><br />
    <%= f.text_field :id %>
  </div>
  <div class="field">
    <%= f.label :name %><br />
    <%= f.text_field :name %>
  </div>
  <div class="field">
    <%= f.label :image %><br />
    <%= f.text_field :image %>
  </div>
  <div class="field">
    <%= f.label :description %><br />
    <%= f.text_field :description %>
  </div>
  <div class="field">
    <%= f.label :hp %><br />
    <%= f.text_field :hp %>
  </div>
  <div class="field">
    <%= f.label :atk %><br />
    <%= f.text_field :atk %>
  </div>
  <div class="field">
    <%= f.label :def %><br />
    <%= f.text_field :def %>
  </div>
  <div class="field">
    <%= f.label :spd %><br />
    <%= f.text_field :spd %>
  </div>
  <div class="field">
    <%= f.label :cost %><br />
    <%= f.text_field :cost %>
  </div>
  <div class="field">
    <%= f.label :equip_flag %><br />
    <%= f.text_field :equip_flag %>
  </div>
  <div class="field">
    <%= f.label :type %><br />
    <%= f.text_field :type %>
  </div>
  <div class="field">
    <%= f.label :created_at %><br />
    <%= f.date_select :created_at %>
  </div>
  <div class="field">
    <%= f.label :maintenance %><br />
    <%= f.text_field :maintenance %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
