<h1 class="pageheader">Zeriach's Item Shop</h1>
<br>
<p>Welcome to my shop of weird and wonderful things, can I interest you in a particular item?</p>
<br>
<div class="pagebox"><%= paginate @items %></div>
<br>
<!--Checks to see if any pets are available -->
<% if @count > 0 %>
   <!--Checks if the current user is signed in -->
   <% if !current_user.nil? %>
      <%= form_tag(user_inventories_path(current_user)) do %>
         <%= render 'iteminfo' %>
         <div class="outer"></div>
         <div class="petcontainer"><%= submit_tag("Buy Selected Item") %></p>
      <% end %>
   <% else %>
      <%= render 'iteminfo' %>
   <% end %>
<% end %>
<br>
<!--Prevents a visting user from creating a pet if not logged in -->
<% if !current_user.nil? && current_user.admin %>
   <p><%= link_to 'New Item', new_item_path %></p>
<% end %>
