<h1>Item shop</h1>
<p>Welcome to my shop of weird and wonderful things, can I interest you in a particular item?</p>
<!--Checks to see if any pets are available -->
<% if @count > 0 %>
   <!--Checks if the current user is signed in -->
   <% if !current_user.nil? %>
      <%= form_tag(new_user_inventory_path(current_user), method: "get") do %>
         <%= render 'iteminfo' %>
         <div class="outer"></div>
         <%= submit_tag("Buy Selected Item") %>
      <% end %>
   <% else %>
      <%= render 'iteminfo' %>
   <% end %>
<% end %>

<!--Prevents a visting user from creating a pet if not logged in -->
<% if !current_user.nil? %>
   <p><%= link_to 'New Item', new_item_path %></p>
<% end %>
