<h1 class="pageheader">Listing Subfolders</h1>
<br>
<div class="pagebox"><%= paginate @subfolders %></div>
<% @subfolders.each do |subfolder| %>
   <br>
   <table>
      <tr>
         <td>I belong to <%= link_to subfolder.mainfolder.name, user_mainfolder_path(subfolder.mainfolder.user, subfolder.mainfolder) %></td>
      </tr>
      <tr>
         <!--Do not name the mainfolder short mfolder-->
         <td>Subfolder: <%= link_to subfolder.name, mainfolder_subfolder_path(subfolder.mainfolder, subfolder) %> 
         <% if current_user && (current_user.id == subfolder.user_id || current_user.admin? )%>
            <div class="inner"><%= button_to 'Edit', edit_mainfolder_subfolder_path(subfolder.mainfolder, subfolder), method: :get %></div>
            <div class="inner"><%= button_to 'Destroy', [subfolder.mainfolder, subfolder], method: :delete, data: { confirm: 'Are you sure?' } %></div>
         <% end %>
         </td>
      </tr>
      <tr>
         <td>By: <%= link_to subfolder.user.vname, user_path(subfolder.user) %></td>
      </tr>
      <tr>
         <td><pre class="storyformat"><%= subfolder.description %></pre></td>
      </tr>
   </table>
<% end %>
