<h1>Listing chapters</h1>

<table>
  <tr>
    <th>Title</th>
    <th>Story</th>
    <th>Created on</th>
    <th>User</th>
    <th>Book</th>
    <th>Gchapter</th>
    <th>Reviewed</th>
    <th>Maintenance</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @chapters.each do |chapter| %>
  <tr>
    <td><%= chapter.title %></td>
    <td><%= chapter.story %></td>
    <td><%= chapter.created_on %></td>
    <td><%= chapter.user_id %></td>
    <td><%= chapter.book_id %></td>
    <td><%= chapter.gchapter_id %></td>
    <td><%= chapter.reviewed %></td>
    <td><%= chapter.maintenance %></td>
    <td><%= link_to 'Show', chapter %></td>
    <td><%= link_to 'Edit', edit_chapter_path(chapter) %></td>
    <td><%= link_to 'Destroy', chapter, method: :delete, data: { confirm: 'Are you sure?' } %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Chapter', new_chapter_path %>
