<h1 class="pageheader">Listing chapters</h1>
<br>
<div class="pagebox"><%= paginate @chapters %></div>
<br>
<% @chapters.each do |chapter| %>
   <div class="outer">
      <table>
         <tr>
            <td><%= chapter.title %></td>
            <td><%= button_to 'Edit', edit_book_chapter_path(chapter.book, chapter), method: :get %></td>
            <td><%= button_to 'Destroy', [chapter.book, chapter], method: :delete, data: { confirm: 'Are you sure?' } %></td>
         </tr>
      </table>
   </div>
   <div class="inner">
      <p><%= chapter.story %></p>
   </div>
   <div class="outer">
      <p>Created on: <%= chapter.created_on %></p>
      <p>Author: <%= link_to chapter.user.vname, user_path(chapter.user) %></p>
      <p>Book: <%= link_to chapter.book.title, sbook_book_path(chapter.book.sbook, chapter.book) %></p>
      <p>Chapter: <%= chapter.gchapter.title %></p>
      <p>Reviewed: <%= chapter.reviewed %></p>
   </div>
   <br>
<% end %>
