<p id="notice"><%= notice %></p>

<p>
  <b>Title:</b>
  <%= @chapter.title %>
</p>

<p>
  <b>Story:</b>
  <%= @chapter.story %>
</p>

<p>
  <b>Created on:</b>
  <%= @chapter.created_on %>
</p>

<p>
  <b>User:</b>
  <%= @chapter.user_id %>
</p>

<p>
  <b>Book:</b>
  <%= @chapter.book_id %>
</p>

<p>
  <b>Gchapter:</b>
  <%= @chapter.gchapter_id %>
</p>

<p>
  <b>Reviewed:</b>
  <%= @chapter.reviewed %>
</p>

<p>
  <b>Maintenance:</b>
  <%= @chapter.maintenance %>
</p>


<%= link_to 'Edit', edit_chapter_path(@chapter) %> |
<%= link_to 'Back', chapters_path %>
