<h1>Listing maintopics</h1>

<table>
<% @maintopics.each do |maintopic| %>
  <tr>
    <td>Topic: <%= link_to maintopic.topicname, maintopic %> <%= link_to 'Edit', edit_maintopic_path(maintopic) %> </td>
  </tr>
  <tr>
    <td><%= button_to 'Destroy', maintopic, method: :delete, data: { confirm: 'Are you sure?' } %></td>
  </tr>
  <tr>
     <td>By: <%= maintopic.user.vname %></td>
  </tr>
  <tr>
    <td><pre><%= maintopic.description %></pre></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Maintopic', new_maintopic_path(:user_id=>current_user) %>
