<p id="notice"><%= notice %></p>

<p>
  <b>User:</b>
  <%= @maintopic.user_id %>
</p>

<p>
  <b>Topicname:</b>
  <%= @maintopic.topicname %>
</p>

<p>
  <b>Description:</b>
  <%= @maintopic.description %>
</p>


<%= link_to 'Edit', edit_maintopic_path(@maintopic) %> |
<%= link_to 'Back', maintopics_path %>
