<p id="notice"><%= notice %></p>
<h1><%= @maintopic.topicname %></h1>

<table>
<% @maintopic.subtopics.each do |subtopic| %>
  <tr>
    <td><%= link_to subtopic.topicname, maintopic_subtopic_path(@maintopic, subtopic) %></td>
    <td><%#= link_to 'Edit', edit_maintopic_subtopic_path(subtopic.maintopic) %></td>
    <td><%#= button_to 'Destroy', subtopic, method: :delete, data: { confirm: 'Are you sure?' } %></td>
  </tr>
  <tr>
    <td>By: <%= subtopic.user.vname %><%#= subtopic.description %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to "New Subtopic", new_maintopic_subtopic_path(@maintopic, :user_id=>current_user) %>
