<h1>Listing sbooks</h1>

<table>
  <tr>
    <th>Name</th>
    <th>Created on</th>
    <th>User</th>
    <th>Series open</th>
    <th>Maintenance</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @sbooks.each do |sbook| %>
  <tr>
    <td><%= sbook.name %></td>
    <td><%= sbook.created_on %></td>
    <td><%= sbook.user_id %></td>
    <td><%= sbook.series_open %></td>
    <td><%= sbook.maintenance %></td>
    <td><%= link_to 'Show', sbook %></td>
    <td><%= link_to 'Edit', edit_sbook_path(sbook) %></td>
    <td><%= link_to 'Destroy', sbook, method: :delete, data: { confirm: 'Are you sure?' } %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Sbook', new_sbook_path %>
