<h1 class="pageheader">
   <% if getOptional %>
      <%= @user.vname %>'s series
   <% else %>
      Listing series
   <% end %>
</h1>
<br>
<div class="pagebox"><%= paginate @sbooks %></div>
<br>
<% @sbooks.each do |sbook| %>
   <p><%= link_to sbook.name, user_sbook_path(sbook.user, sbook) %></p>
   <p>Created on: <%= sbook.created_on %></p>
   <p>Open series? <%= sbook.series_open %></p>
   <% if !getOptional %>
      <p>Created by: <%= sbook.user.vname %></p>
   <% end %>
   <br>
<% end %>

<%#= link_to 'Edit', edit_sbook_path(sbook) %>
<%#= link_to 'Destroy', sbook, method: :delete, data: { confirm: 'Are you sure?' } %>

<%#= link_to 'New Sbook', new_sbook_path %>
