<p id="notice"><%= notice %></p>

<p>
  <b>Name:</b>
  <%= @sbook.name %>
</p>

<p>
  <b>Created on:</b>
  <%= @sbook.created_on %>
</p>

<p>
  <b>User:</b>
  <%= @sbook.user_id %>
</p>

<p>
  <b>Series open:</b>
  <%= @sbook.series_open %>
</p>

<p>
  <b>Maintenance:</b>
  <%= @sbook.maintenance %>
</p>


<%= link_to 'Edit', edit_sbook_path(@sbook) %> |
<%= link_to 'Back', sbooks_path %>
