<% @petowners.each_with_index do |petowner, index| %>
   <div class = "inner">
      <div class="inner">
         <p><%= link_to petowner.pet_name, user_petowner_path(@user, petowner) %></p>
         <p><%= image_tag petowner.pet.image_url(:thumb).to_s %></p>
      </div>
      <div class="inner">
         <table>
            <tr>
               <td>Exp: <%= petowner.exp %></td>
            </tr>
            <tr>
               <td>Level: <%= petowner.level %></td>
            </tr>
            <tr>
               <td>HP: <%= petowner.hp %>/<%= petowner.hp_max %></td>
            </tr>
            <tr>
               <td>ATK: <%= petowner.atk %></td>
            </tr>
            <tr>
               <td>DEF: <%= petowner.def %></td>
            </tr>
            <tr>
               <td>SPD: <%= petowner.spd %></td>
            </tr>
            <tr>
               <!--Displays the user who created this pet -->
               <td>Species: <%= petowner.pet.species_name %></td>
            </tr>
         </table>
      </div>
      <div class="outer"></div>
      <!--Displays the date the pet was created -->
      <p>Adopted_on: <%= petowner.adopted_on.strftime("%B-%d-%Y") %></p>
   </div>
   <!--Sets how many pets to display per line-->
   <% if ((index + 1)%3) == 0 %>         
      <div class="outer"></div>
   <% end %>
<% end %>
