<h1 class="pageheader">Pet list</h1>

<% @petowners.each do |petowner| %>
   <div class="petcontainer">
      <div class="outer">
         
            <table>
               <tr>
                  <td><%= link_to petowner.pet_name, user_petowner_path(petowner.user.vname, petowner) %>&nbsp;&nbsp;</td>
                  <td><%= button_to 'Edit', edit_user_petowner_path(petowner.user, petowner), method: :get %>&nbsp;&nbsp;</td>
                  <td><%= button_to 'Destroy', [petowner.user, petowner], method: :delete, data: { confirm: 'Are you sure?' } %></td>
               </tr>
            </table>
         
      </div>
      <div class="inner">
         <p><%= image_tag petowner.pet.image_url(:thumb).to_s %></p>
      </div>
      <div class="inner">
         <table>
            <tr>
               <td><b>Adoption date:</b> <%= petowner.adopted_on.strftime("%B-%d-%Y") %></td>
            </tr>
            <tr>
               <td><b>Level:</b> <%= petowner.level %></td>
            </tr>
            <tr>
               <td><b>Max Health:</b> <%= petowner.hp_max %></td>
            </tr>
            <tr>
               <td><b>Health:</b> <%= petowner.hp %></td>
            </tr>
            <tr>
               <td><b>Attack:</b> <%= petowner.atk %></td>
            </tr>
            <tr>
               <td><b>Defense:</b> <%= petowner.def %></td>
            </tr>
            <tr>
               <td><b>Speed:</b> <%= petowner.spd %></td>
            </tr>
            <tr>
               <td><b>Experience:</b> <%= petowner.exp %></td>
            </tr>
            <tr>
               <td><b>Pet in battle:</b> <%= petowner.in_battle %></td>
            </tr>
         </table>
      </div>
   </div>
   <div class="outer"></div>
   <br>
<% end %>
