<p id="notice"><%= notice %></p>

<p>
  <b>User:</b>
  <%= @petowner.user_id %>
</p>

<p>
  <b>Pet:</b>
  <%= @petowner.pet_id %>
</p>

<p>
  <b>Pet name:</b>
  <%= @petowner.pet_name %>
</p>

<p>
  <b>Adopted on:</b>
  <%= @petowner.adopted_on %>
</p>

<%= link_to 'View Equipped Items', petowner_equips_path(@petowner) %> | <%= link_to 'View Fights', petowner_fights_path(@petowner) %>
<%#= link_to 'Edit', edit_petowner_path(@petowner) %>
<br>
<br>
<%#= link_to 'Back', user_petowners_path(@user) %>
