<p id="notice"><%= notice %></p>

<% if @petowner.user_id == current_user.id %>
   <%= button_to 'Edit', edit_user_petowner_path(@petowner), method: :get %>
<% end %>

<p>
  <b>User:</b>
  <%= @petowner.user.vname %>
</p>

<p>
  <b>Pet:</b>
  <%= @petowner.pet.species_name %>
</p>

<p>
  <b>Pet name:</b>
  <%= @petowner.pet_name %>
</p>

<p>
  <b>Adopted on:</b>
  <%= @petowner.adopted_on.strftime("%B-%d-%Y") %>
</p>

<%= link_to 'View Equipped Items', petowner_equips_path(@petowner) %> | <%= link_to 'View Fights', petowner_fights_path(@petowner) %>
<br>
<br>
<%= link_to 'Back', user_petowners_path(@petowner.user) %>
